* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2{
    text-align: center;
    margin-top: 3%;
}
#formulAjout{
    margin-top: 5%;
    text-align: center;
}
#table
{
    margin: auto;
    margin-top: 7%;
    border-collapse: collapse; 
}
td, th 
{
    border: 1px solid black; 
}
th{
    font-size: 200%;
}
